<div class="container-fluid bg-primary">
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark   justify-content-between"> 
    <a class="navbar-brand" href="#">Login Demo</a>   
    
      <ul class="navbar-nav ">
         
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/home">Home </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/product">Product </a>
        </li>
        <li class="nav-item"  *ngIf="!currentUser" routerLinkActive="active">
          <a class="nav-link" routerLink="/login">Login </a>
        </li>
        <li class="nav-item"  *ngIf="currentUser ">
         
          <a class="nav-link" (click)="logout()">   Logout  </a>
        </li>
        <li class="nav-item" *ngIf="!currentUser" routerLinkActive="active">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
         
      </ul>
     

  </nav>
</div>
</div>